Backup_Contabo_n8n/Snapshot_Contabo.json
{
  "name": "Snapshot_Contabo",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "d8711218-1aac-4616-b2e9-104944ae7022",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        640,
        280
      ]
    },
    {
      "parameters": {},
      "id": "94d2fad4-a1aa-45f4-af7f-bb8cd9c3091c",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        640,
        500
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "135cfcc3-050e-4128-b6b0-b8905d160498",
              "name": "CLIENT_ID",
              "value": "",
              "type": "string"
            },
            {
              "id": "b05aa3e9-80c6-474f-b653-8e49654e3da7",
              "name": "CLIENT_SECRET",
              "value": "",
              "type": "string"
            },
            {
              "id": "72c345ba-674e-4db2-946e-bb4a9e6f8763",
              "name": "API_USER",
              "value": "",
              "type": "string"
            },
            {
              "id": "7d1d03e3-86cc-4fd1-9d2a-a3771d913565",
              "name": "API_PASSWORD",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "231e7314-8685-4c06-8364-81563dd7d324",
      "name": "Credential",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        400
      ]
    },
    {
      "parameters": {
        "content": "## Credential\n \nInformações necessarias para acessar API da Contabo\n\n- CLIENT_ID\n- CLIENT_SECRET\n- API_USER\n- API_PASSWORD\n\n[Contabo Credential](https://my.contabo.com/api/details)\n\n[Contabo API Doc](https://api.contabo.com/)",
        "height": 519,
        "width": 427,
        "color": 7
      },
      "id": "f47c605d-724d-4319-b5e0-ea2bf9085768",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1300,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://auth.contabo.com/auth/realms/contabo/protocol/openid-connect/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $json.CLIENT_ID }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $json.CLIENT_SECRET }}"
            },
            {
              "name": "username",
              "value": "={{ $json.API_USER }}"
            },
            {
              "name": "password",
              "value": "={{ $json.API_PASSWORD }}"
            },
            {
              "name": "grant_type",
              "value": "password"
            }
          ]
        },
        "options": {}
      },
      "id": "bab0ffb0-951d-494d-bf75-6cf2d572fe8f",
      "name": "Authorization",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://api.contabo.com/v1/compute/instances",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Authorization').item.json['token_type'] }} {{ $('Authorization').item.json['access_token'] }}"
            },
            {
              "name": "x-request-id",
              "value": "={{ $('UUID').item.json['data'] }}"
            },
            {
              "name": "x-trace-id",
              "value": "={{ $('TRACE ID').item.json['data'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3bc4e0d0-e248-4245-97fc-af876bd480e8",
      "name": "List instances",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2340,
        400
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "c0f035f0-fef1-414a-a95c-1cf28379e392",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2540,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://www.uuidgenerator.net/api/version4",
        "options": {}
      },
      "id": "54a82f08-0857-4f31-b82a-f18332d55437",
      "name": "UUID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://www.uuidgenerator.net/api/version4",
        "options": {}
      },
      "id": "f05d122a-fe4e-4998-9cae-add4b19a1173",
      "name": "TRACE ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2060,
        400
      ]
    },
    {
      "parameters": {
        "content": "## get UUID\n\nGera os UUID's que vão ser usados no 'x-request-id' e no 'x-trace-id'\n\n[uuidgenerator](https://www.uuidgenerator.net/api)",
        "height": 519.2032132338403,
        "width": 411.2199570815453
      },
      "id": "c3f561cf-b1e2-466b-8e6c-822f4a0a1fb7",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1800,
        100
      ]
    },
    {
      "parameters": {
        "url": "=https://api.contabo.com/v1/compute/instances/{{ $('Split Out').item.json['instanceId'] }}/snapshots",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Authorization').item.json['token_type'] }} {{ $('Authorization').item.json['access_token'] }}"
            },
            {
              "name": "x-request-id",
              "value": "={{ $('UUID1').item.json['data'] }}"
            },
            {
              "name": "x-trace-id",
              "value": "={{ $('TRACE ID').item.json['data'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "29752f9e-3bcf-4806-ac6a-8d8443bf5a2d",
      "name": "List snapshots",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2960,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://www.uuidgenerator.net/api/version4",
        "options": {}
      },
      "id": "de2617d6-f80b-4466-a6d3-8f38fadd4cca",
      "name": "UUID1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2780,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Lista as suas instancias",
        "height": 279,
        "width": 384,
        "color": 5
      },
      "id": "3743c6d8-8882-4f58-935d-a8d40e4ada48",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2300,
        307
      ]
    },
    {
      "parameters": {
        "content": "## Lista Snapshots existentes\n\n- Gera um novo UUID para a request \n\n- Verifica se a instancia já possui um Snapshot",
        "height": 467.2593220338978,
        "width": 733.0237288135586,
        "color": 4
      },
      "id": "a76f9f5f-69f9-4840-96b2-803de56431b1",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2740,
        120
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "aef1bb7e-ff78-4bcf-9e56-6aee7ae73a01",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3140,
        440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2bd58580-020f-411b-b25d-e63467d615bc",
              "leftValue": "={{ $('List snapshots').item.json['data'] }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "760dea22-bdb4-434f-9dea-1918e2599306",
      "name": "Não Existe Snapshot",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3320,
        440
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "dd-MM-yyyy",
        "options": {}
      },
      "id": "317c8346-505c-44d0-823a-742ae8e2d519",
      "name": "Formatted Date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "options": {
          "timezone": "America/Sao_Paulo"
        }
      },
      "id": "cb42cd59-49c1-4df1-9737-8c3e86013493",
      "name": "get Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        940,
        400
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b9af7eb7-bd87-4949-ac95-e40025c3c419",
              "name": "instanceId",
              "value": "={{ $json.instanceId }}",
              "type": "string"
            },
            {
              "id": "3d8cb230-4512-4b65-be3a-6ea59cb80ddd",
              "name": "displayName",
              "value": "={{ $json.displayName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d4cf0f94-61eb-4776-b749-25bfb349c844",
      "name": "Filtra campos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4120,
        280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71a51067-08ed-4300-a831-48f1d7d2ada2",
              "name": "data[0].snapshotId",
              "value": "={{ $json.data[0].snapshotId }}",
              "type": "string"
            },
            {
              "id": "00161e54-f324-4f6e-a5df-d27d1c4b7706",
              "name": "displayName",
              "value": "={{ $json.displayName }}",
              "type": "string"
            },
            {
              "id": "b4fbf9e6-c634-4dc7-b75e-44aa048b2e32",
              "name": "instanceId",
              "value": "={{ $json.instanceId }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "dc8f48d1-050a-4767-99a9-5446eeef7323",
      "name": "Filtra Campos Del",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3560,
        460
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.contabo.com/v1/compute/instances/{{ $('Filtra Campos Del').item.json['instanceId'] }}/snapshots/{{ $('Filtra Campos Del').item.json['data'][0].snapshotId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Authorization').item.json['token_type'] }} {{ $('Authorization').item.json['access_token'] }}"
            },
            {
              "name": "x-request-id",
              "value": "={{ $('UUID3').item.json['data'] }}"
            },
            {
              "name": "x-trace-id",
              "value": "={{ $('TRACE ID').item.json['data'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ff6763c0-5c87-4fb4-a420-688ca10b82fd",
      "name": "Delete existing snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3880,
        460
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.contabo.com/v1/compute/instances/{{ $('Filtra campos').item.json['instanceId'] }}/snapshots",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Authorization').item.json['token_type'] }} {{ $('Authorization').item.json['access_token'] }}"
            },
            {
              "name": "x-request-id",
              "value": "={{ $('UUID2').item.json['data'] }}"
            },
            {
              "name": "x-trace-id",
              "value": "={{ $('TRACE ID').item.json['data'] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Formatted Date').item.json['formattedDate'] }}"
            },
            {
              "name": "description",
              "value": "={{ $('Filtra campos').item.json['displayName'] }} {{ $('Formatted Date').item.json['formattedDate'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c5979e77-3ad0-4f2d-a2e6-d681d1e5cb0f",
      "name": "Create a new snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4460,
        280
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.contabo.com/v1/compute/instances/{{ $('Filtra Campos Del').item.json['instanceId'] }}/snapshots",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Authorization').item.json['token_type'] }} {{ $('Authorization').item.json['access_token'] }}"
            },
            {
              "name": "x-request-id",
              "value": "={{ $('UUID4').item.json['data'] }}"
            },
            {
              "name": "x-trace-id",
              "value": "={{ $('TRACE ID').item.json['data'] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Formatted Date').item.json['formattedDate'] }}"
            },
            {
              "name": "description",
              "value": "={{ $('Filtra Campos Del').item.json['displayName'] }} {{ $('Formatted Date').item.json['formattedDate'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8699f4fc-53a7-4dd3-b7a0-3f4b8130ca17",
      "name": "Create a new snapshot1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4300,
        460
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "url": "https://www.uuidgenerator.net/api/version4",
        "options": {}
      },
      "id": "29188320-e654-4dbb-bf07-66107a2a40e5",
      "name": "UUID2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4300,
        280
      ]
    },
    {
      "parameters": {
        "url": "https://www.uuidgenerator.net/api/version4",
        "options": {}
      },
      "id": "f12de377-44a0-431e-a409-c3c3827eec32",
      "name": "UUID3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3720,
        460
      ]
    },
    {
      "parameters": {
        "url": "https://www.uuidgenerator.net/api/version4",
        "options": {}
      },
      "id": "2fb515d8-5ccb-455d-8c18-a8c7a606e0c5",
      "name": "UUID4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4120,
        460
      ]
    },
    {
      "parameters": {
        "content": "## Delete existing snapshot by id\n",
        "height": 409.69573118317805,
        "width": 486.8901611698841,
        "color": 3
      },
      "id": "8290e26a-bf5d-4f1b-9691-2316045aeaa0",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3528.7777199468223,
        240
      ]
    },
    {
      "parameters": {
        "content": "## Create a new snapshot",
        "height": 468.61270146235483,
        "width": 576.6684015952959,
        "color": 6
      },
      "id": "04e7a563-e753-4d39-aa68-8b0df21f4eb4",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4080,
        160
      ]
    },
    {
      "parameters": {
        "content": "## Workflow Backups Contabo\nEsse workflow fará backup (snapshot) automático das suas VPS's hospedadas na Contabo todos os dias as 00h.\n\n### Setup\nAbra **Credential** e atualize os valores abaixo\n\n- **CLIENT_ID**\n- **CLIENT_SECRET**\n- **API_USER**\n- **API_PASSWORD**\n\nVocê irá localizar essas informações no [Customer Control Panel.](https://my.contabo.com/api/details)\n\n\n\nWorkflow criado por [Felipe Augusto](https://www.linkedin.com/in/felipewayne-dev/)\n[Linkedin](https://www.linkedin.com/in/felipewayne-dev/)\n[GitHub](https://github.com/FelipeWayne)",
        "height": 415.52346358766624,
        "width": 769.2098244001793
      },
      "id": "44c1851a-00c7-43fb-b08f-63956dfb622b",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        240
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "get Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "get Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credential": {
      "main": [
        [
          {
            "node": "Authorization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authorization": {
      "main": [
        [
          {
            "node": "UUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List instances": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UUID": {
      "main": [
        [
          {
            "node": "TRACE ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRACE ID": {
      "main": [
        [
          {
            "node": "List instances",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "UUID1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "UUID1": {
      "main": [
        [
          {
            "node": "List snapshots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List snapshots": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Não Existe Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não Existe Snapshot": {
      "main": [
        [
          {
            "node": "Filtra campos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filtra Campos Del",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get Date & Time": {
      "main": [
        [
          {
            "node": "Formatted Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra Campos Del": {
      "main": [
        [
          {
            "node": "UUID3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatted Date": {
      "main": [
        [
          {
            "node": "Credential",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra campos": {
      "main": [
        [
          {
            "node": "UUID2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete existing snapshot": {
      "main": [
        [
          {
            "node": "UUID4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UUID2": {
      "main": [
        [
          {
            "node": "Create a new snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UUID3": {
      "main": [
        [
          {
            "node": "Delete existing snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UUID4": {
      "main": [
        [
          {
            "node": "Create a new snapshot1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "9ab35a98-5d49-4bac-801d-12a4113f5d84",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "04095575be8c3c00b7dbb08cda279ae97ba22edebbc4e608d47ef1535a33b1bb"
  },
  "id": "K0klSS2MYyhF4fop",
  "tags": [
    {
      "createdAt": "2024-09-05T18:02:15.589Z",
      "updatedAt": "2024-09-05T18:02:15.589Z",
      "id": "FnJnlxx1RbBsqvgR",
      "name": "bkp"
    },
    {
      "createdAt": "2024-09-05T18:02:24.023Z",
      "updatedAt": "2024-09-05T18:02:24.023Z",
      "id": "mqAVE6ag3Gs9tELR",
      "name": "Contabo"
    }
  ]
}